services:
  db:
    image: postgres:18.1-alpine
    container_name: automatizai_code_challenge_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - automatizai_code_challenge_postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: automatizai_code_challenge_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - automatizai_code_challenge_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  api:
    build:
      context: .
    container_name: automatizai_code_challenge_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - automatizai_code_challenge_static:/app/static

  worker:
    build:
      context: .
    container_name: automatizai_code_challenge_worker
    restart: always
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    command: ["uv", "run", "celery", "-A", "src.worker.celery:celery_app", "worker", "-l", "info"]
    volumes:
      - automatizai_code_challenge_static:/app/static

volumes:
  automatizai_code_challenge_postgres_data:
  automatizai_code_challenge_redis_data:
  automatizai_code_challenge_static:
